<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:property-placeholder location="classpath:config.properties" />

    <bean id="applicationConfig" class="ru.otus.l131.ApplicationConfig"/>

    <bean id="hibernateDbService" class="ru.otus.l131.hibernate.DbServiceHibernateImpl">
        <constructor-arg name="url" value="${db_url}"/>
        <constructor-arg name="username" value="${db_user}"/>
        <constructor-arg name="password" value="${db_password}"/>
    </bean>

    <bean id="cacheEngineFactory" class="ru.otus.l131.cache.CacheEngineFactory">
        <constructor-arg name="maxElements" value="100"/>
        <constructor-arg name="lifeTimeMs" value="10000"/>
        <constructor-arg name="idleTimeMs" value="0"/>
        <constructor-arg name="isEternal" value="false"/>
    </bean>

    <bean id="cachedDbService" class="ru.otus.l131.cache.DbServiceCacheDecorator">
        <constructor-arg name="decoratedDbService" ref="hibernateDbService"/>
        <constructor-arg name="cacheEngineConstructor" ref="cacheEngineFactory"/>
    </bean>

    <bean class="ru.otus.l131.HardWorkerRunner" init-method="start" destroy-method="stop">
        <constructor-arg index="0">
            <bean class="ru.otus.l131.HardWorker">
                <constructor-arg ref="cachedDbService"/>
            </bean>
        </constructor-arg>
    </bean>
</beans>